@font-face {
  font-family: vazir;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir.ttf);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
}

a{
  text-decoration: none;
  color: black;
}


.main-container{
  width: 100%;
  background-color: blue;
}

/* /////////// */



.main-container div {
  width: 100%;
  height: 40vh;
}

.main-container div:nth-child(odd) {
  background-color: red;
}


/* /////////// */