@font-face {
  font-family: vazir;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir.ttf);
}

@font-face {
  font-family: nast;
  src: url(assets/fonts/IranNastaliq/IranNastaliq.ttf);
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
}

a{
  text-decoration: none;
  color: black;
}


.main-container{
  width: 100%;
  position: relative;
}

/* header */
.navbar{
  background-color: #16a287;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 0;
}

.navbar ul li {
list-style: none;
margin: 0 20px;
}
.navbar ul li a {
  color: white;
  padding: 15px;
  border-radius: 30px;

}

.navbar ul li a:hover{
  background-color: rgb(43, 241, 172);
}

.nav-right h2{
  margin-right: 35px;
  color: white;
  font-family: nast;
  font-size: 50px;
}




.search-icon{
  font-size: 20px;
  color: white;
  margin-left: 50px;
}




/* gap styles */
.gap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20%;
  height: 60px;
  padding: 10px;
  margin: 20px auto;

}

.gap-logo{
  height: 45px;
}
/* end of gap styles */

/* slider styles */
.slideshow{
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: url(assets/images/kafari-canyon-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}
.caption{
  width: 20%;
  background: linear-gradient(rgba(0,0,0,0)),#000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4em 1em 2em 1em;
}
.caption h3 {
  color: white;
  margin: 0;
  font-size: 20px;

}

.caption p {
  color: white;
  font-size: 20px;

}

.arrow-left ,
.arrow-right{
  background: #fff;
  position: absolute;
  top: 40%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
}
.arrow-left:hover{
  background-color: black;
  color: white;
  transition: 0.8s;
}

.arrow-right:hover {
  background-color: black;
  color: white;
  transition: 0.8s;
}





.arrow-left{
  left: 1em;
}
.arrow-right{
  right: 1em;

}
.image-fade{
  animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade  {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
















/* end of slider styles */


















/* map section */

#map{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
.map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#map h3 {
  margin: 15px;
}


/* end of map section */



/* gallery styles */


#gallery{
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
  grid-gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: rgb(48, 224, 4);
background: linear-gradient(90deg, rgb(243, 64, 61) 24%, rgb(63, 215, 235) 100%);


}

.gallery-item{
  background-color: black;
  width: 300px;
  height: 350px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 1s ease;

}
.gallery-item p {
  color: white;
}


.gallery-item:hover{
  transform: scale(0.9);
}











/* end of gallery styles */

/* news */
.news{
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-right{
  width: 55%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-right p{
  margin: 20px 0;
  text-align: center;
}
.news-right span {
  margin-left: 15px;
}



.news-left{
  width: 45%;
}











/* footer section */
.footer{
  width: 100%;
  background-image: url(assets/images/footer.jpg);
  height: 50vh;
}

#footer{

  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
#footer a {
  color: white;
}


.footer-1 ,
.footer-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-1{
  height: 85%;
  
}
.footer-1-child{
  width: 25%;
  height: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.footer-2{
  height: 15%;
  
}

/* end of footer section */


/* scroll btn styles */
.scroll-btn{
  position: fixed;
  bottom: 10px;
  right: 5px;
  padding: 2px 16px;
  background-color: rgb(125, 120, 120);
  color: white;
  font-size: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

/* end of scroll btn styles */


main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 968px;
  overflow: hidden;
}

.card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  height: 375px;
  justify-content: center;
  position: relative;
  width: 300px;
  
  &.card-1 {
    background: url(assets/images/flower-purple-lical-blosso.jpg) no-repeat center;
  }
  
  &.card-2 {
    background: url(assets/images/flower-purple-lical-blosso.jpg) no-repeat center;
  }
  
  &.card-3 {
    background: url(assets/images/flower-purple-lical-blosso.jpg) no-repeat center;
  }
  
  &::after {
    background: rgb(249, 247, 247 , 0.7);
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 300ms ease-in;
    width: 100%;
  }
  
  &:hover::after, &:hover .project-title, &:hover .project-subtitle {
    opacity: 0.95;
  }
  
  .project-title {
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    padding: 10px 0;
    z-index: 10;
  }
  
  .project-subtitle {
    color: black;
    display: block;  
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    padding: 10px 0;
    z-index: 10; 
  }
}













