@font-face {
  font-family: vazir;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir.ttf);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
}

a{
  text-decoration: none;
  color: black;
}


.main-container{
  width: 100%;
  position: relative;
}
/* gap styles */
.gap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20%;
  height: 60px;
  padding: 10px;
  margin: 20px auto;

}
/* end of gap styles */

.gap-logo{
  height: 45px;
}





/* footer section */


#footer{
  width: 100%;
  height: 20vh;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.footer-1 ,
.footer-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-1{
  height: 85%;
  
}
.footer-1-child{
  width: 25%;
  height: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.footer-2{
  height: 15%;
}

/* end of footer section */


/* scroll btn styles */
.scroll-btn{
  position: fixed;
  bottom: 10px;
  right: 5px;
  padding: 2px 16px;
  background-color: black;
  color: white;
  font-size: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

/* end of scroll btn styles */